# Don't track content of these folders
_Analysis_/
5_Run_synteny_No-sarco-neo/
6_CombineAllVertebrates_No-sarco-neo-old/
6_CombineAllVertebrates-with-sarco-neo-old/
7_FilterOhnologs_No-sarco-neo-old/
7_FilterOhnologs-with-sarco-neo-old/
8_GenerateOhnoFamilies_No-sarco-neo-old/
8_GenerateOhnoFamilies-with-sarco-neo-old/
10_Prepare_data_for_server/
11_Lineage_specific_ohnologs/
OhnologsForNfur

# File types to ignore #
##################
*.pdf


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
#################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.Rhistory

# DVC-tracked folders #
#################
1_All_Genes/1_BioMart_gene_attributes
1_All_Genes/2_BioMart_GO_attributes
1_All_Genes/3_Prepare_final_gene_files_all-scaffolds
2_Paralogs/1_Paralogs_from_7_latest_versions
